---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/email/spree@example.com/profile?access_token=eac97693-26be-11e3-9a20-856fcdde1271&refresh_token=eac6b772-26be-11e3-9a20-856fcdde1271
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"vid":9,"canonical-vid":9,"portal-id":318781,"is-contact":true,"profile-token":"AO_T-mPwDfMNCOPP0UUmdNtjslVVeX7HDWD6pjRbOiWjl7YUxfB6lQ3yu2ByFB5GruQ6rVSXr8P4GqFWN9XduAJ1Zxrkm7BVstZLd6db1fY9P0fR9kmoM0nGFDKZRbxgpchSCqTKwF78","profile-url":"https://app.hubspot.com/contacts/318781/lists/public/contact/_AO_T-mPwDfMNCOPP0UUmdNtjslVVeX7HDWD6pjRbOiWjl7YUxfB6lQ3yu2ByFB5GruQ6rVSXr8P4GqFWN9XduAJ1Zxrkm7BVstZLd6db1fY9P0fR9kmoM0nGFDKZRbxgpchSCqTKwF78/","properties":{"phone":{"value":"555-555-1212","versions":[{"value":"555-555-1212","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"mrt_total_revenue":{"value":"29.99","versions":[{"value":"29.99","source-type":"API","source-id":null,"source-label":null,"timestamp":1380220720002,"selected":false},{"value":"11.99","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214390002,"selected":false},{"value":"129.99","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214358002,"selected":false},{"value":"29.99","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"createdate":{"value":"1380214328459","versions":[{"value":"1380214328459","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"state":{"value":"VA","versions":[{"value":"VA","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"lastname":{"value":"Mar","versions":[{"value":"Mar","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"initial_promotion":{"value":"123","versions":[{"value":"123","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"lastmodifieddate":{"value":"1380220720567","versions":[{"value":"1380220720567","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":1380220720013,"selected":false}]},"city":{"value":"Leesburg","versions":[{"value":"Leesburg","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"total_order_tax":{"value":"11.0","versions":[{"value":"11.0","source-type":"API","source-id":null,"source-label":null,"timestamp":1380220720002,"selected":false},{"value":"5.0","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214411002,"selected":false},{"value":"11.0","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214390002,"selected":false},{"value":"6.0","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214358002,"selected":false},{"value":"6.00","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"mrt_total_shipping":{"value":"4.00","versions":[{"value":"4.00","source-type":"API","source-id":null,"source-label":null,"timestamp":1380220720002,"selected":false},{"value":"3.00","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214390002,"selected":false},{"value":"4.00","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"mrt_total_adjustment":{"value":"10.00","versions":[{"value":"10.00","source-type":"API","source-id":null,"source-label":null,"timestamp":1380220720002,"selected":false},{"value":"2.00","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214390002,"selected":false},{"value":"10.00","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"num_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"total_order_revenue":{"value":"141.98000000000002","versions":[{"value":"141.98000000000002","source-type":"API","source-id":null,"source-label":null,"timestamp":1380220720002,"selected":false},{"value":"111.99000000000002","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214411002,"selected":false},{"value":"141.98000000000002","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214390002,"selected":false},{"value":"129.99","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214358002,"selected":false},{"value":"29.99","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"mrt_campaign":{"value":"456","versions":[{"value":"456","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"zip":{"value":"20175","versions":[{"value":"20175","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"mrt_promotion":{"value":"123","versions":[{"value":"123","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"account_creation_date":{"value":"1379708662000","versions":[{"value":"1379708662000","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"mrt_order_number":{"value":"R123456789","versions":[{"value":"R123456789","source-type":"API","source-id":null,"source-label":null,"timestamp":1380220720002,"selected":false},{"value":"R987654321","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214390002,"selected":false},{"value":"R123456789","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"total_transactions":{"value":"2","versions":[{"value":"2","source-type":"API","source-id":null,"source-label":null,"timestamp":1380220720002,"selected":false},{"value":"1","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214411002,"selected":false},{"value":"2","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214390002,"selected":false},{"value":"1","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"closedate":{"value":"1380214328820","versions":[{"value":"1380214328820","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"firstname":{"value":"Chris","versions":[{"value":"Chris","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"num_unique_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"timestamp":0,"selected":false}]},"total_order_shipping":{"value":"7.0","versions":[{"value":"7.0","source-type":"API","source-id":null,"source-label":null,"timestamp":1380220720002,"selected":false},{"value":"3.0","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214411002,"selected":false},{"value":"7.0","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214390002,"selected":false},{"value":"4.0","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214358002,"selected":false},{"value":"4.00","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"photo":{"value":"https://d2ojpxxtu63wzl.cloudfront.net/static/42a40d00f3d0d583325fed112628eb7a_aab783692c79ea1b323b6dcb5db380238ac126367824b099bcd0f40d2b541f94","versions":[{"value":"https://d2ojpxxtu63wzl.cloudfront.net/static/42a40d00f3d0d583325fed112628eb7a_aab783692c79ea1b323b6dcb5db380238ac126367824b099bcd0f40d2b541f94","source-type":"SOCIAL","source-id":"socialMediaPopulator","source-label":null,"timestamp":1380215451014,"selected":false}]},"lifecyclestage":{"value":"customer","versions":[{"value":"customer","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"mrt_total_tax":{"value":"6.00","versions":[{"value":"6.00","source-type":"API","source-id":null,"source-label":null,"timestamp":1380220720002,"selected":false},{"value":"5.00","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214390002,"selected":false},{"value":"6.00","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"country":{"value":"US","versions":[{"value":"US","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"mrt_date":{"value":"1379708662000","versions":[{"value":"1379708662000","source-type":"API","source-id":null,"source-label":null,"timestamp":1380220720002,"selected":false},{"value":"1379967862000","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214390002,"selected":false},{"value":"1379708662000","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"email":{"value":"spree@example.com","versions":[{"value":"spree@example.com","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"address":{"value":"","versions":[{"value":"","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"total_order_adjustment":{"value":"12.0","versions":[{"value":"12.0","source-type":"API","source-id":null,"source-label":null,"timestamp":1380220720002,"selected":false},{"value":"2.0","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214411002,"selected":false},{"value":"12.0","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214390002,"selected":false},{"value":"10.0","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214358002,"selected":false},{"value":"10.00","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]},"initial_campaign":{"value":"456","versions":[{"value":"456","source-type":"API","source-id":null,"source-label":null,"timestamp":1380214328002,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":9,"identities":[{"type":"EMAIL","value":"spree@example.com","timestamp":1380214328459},{"type":"LEAD_GUID","value":"9c952d6b-4039-4bed-999f-004c02f9b164","timestamp":1380214328660}]}]}'
  recorded_at: Thu, 26 Sep 2013 18:51:08 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/9/profile?access_token=eac97693-26be-11e3-9a20-856fcdde1271&refresh_token=eac6b772-26be-11e3-9a20-856fcdde1271
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Chris"},{"property":"lastname","value":"Mar"},{"property":"email","value":"spree@example.com"},{"property":"phone","value":"555-555-1212"},{"property":"address","value":""},{"property":"city","value":"Leesburg"},{"property":"state","value":"VA"},{"property":"zip","value":"20175"},{"property":"country","value":"US"},{"property":"lifecyclestage","value":"customer"},{"property":"mrt_campaign","value":"456"},{"property":"mrt_promotion","value":"123"},{"property":"mrt_date","value":1379708662000},{"property":"mrt_order_number","value":"R123456789"},{"property":"mrt_total_shipping","value":"4.00"},{"property":"mrt_total_tax","value":"6.00"},{"property":"mrt_total_adjustment","value":"10.00"},{"property":"mrt_total_revenue","value":"29.99"},{"property":"total_order_shipping","value":11.0},{"property":"total_order_tax","value":17.0},{"property":"total_order_adjustment","value":22.0},{"property":"total_order_revenue","value":171.97000000000003},{"property":"total_transactions","value":3}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 26 Sep 2013 18:51:08 GMT
recorded_with: VCR 2.5.0
